# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Historique local
historique.txt

# Évaluation temporaire
evaluation/predictions_sondage/
evaluation/predictions_vote/

# Logs et fichiers temporaires
*.log
*.tmp
*.bak
